<template>
    <Head title="Ajouter une annonce"/>
    <AuthenticatedLayout>
        <h1 class="my-9 border-indigo-500 bg-indigo-100 border-b-4 p-3 rounded-lg text-xl">Ajouter Nouveau Annonce</h1>

        <div id="toast-success" v-if="isAlert"
             class="flex items-center w-full p-4 mb-4 text-gray-500 bg-green-200 rounded-lg shadow"
             role="alert">
            <div
                class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ml-3 text-sm font-bold text-gray-800">{{ $page.props.flash.message }}</div>
            <button type="button" @click="isAlert = false;"
                    class="ml-auto -mx-1.5 -my-1.5 bg-red-200 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                    data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>

        <form @submit.prevent="handleSubmit">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="titre" class="block mb-2 text-sm font-medium text-gray-900">Titre</label>
                    <input type="text" id="titre" v-model="form.titre"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                           placeholder="ex. Alberta" required>
                </div>
                <div>
                    <label for="datePublication" class="block mb-2 text-sm font-medium text-gray-900">Date de
                        publication</label>
                    <input type="date" id="datePublication" v-model="form.datePublication"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                           required>
                </div>
                <div>
                    <label for="categorie_id" class="block mb-2 text-sm font-medium text-gray-900">Small
                        select</label>
                    <select id="categorie_id"
                            class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                            v-model="form.categorie_id">
                        <option value="0" selected hidden>Choisi la categorie</option>
                        <option v-for="categorie in categories" :value="categorie.id">{{ categorie.libelle }}</option>
                    </select>
                </div>
                <div>
                    <label for="prix" class="block mb-2 text-sm font-medium text-gray-900">Prix</label>
                    <input type="number" id="prix" min="0" v-model="form.prix"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                           placeholder="0" required>
                </div>
            </div>
            <div class="mb-6">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                <textarea id="description" rows="9" v-model="form.description"
                          placeholder="Ajouter une petite description .."
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          required></textarea>
            </div>
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">
                Submit
            </button>
        </form>

    </AuthenticatedLayout>
</template>

<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import {onMounted, reactive, ref} from "vue";
import {router, Head} from "@inertiajs/vue3";

// console.log(route().current());
defineProps(['categories']);


const form = reactive({
    titre: null,
    datePublication: null,
    categorie_id: 0,
    prix: null,
    description: null,
})

const isAlert = ref(false);

const handleSubmit = () => {
    // console.log(form)
    router.post('/annonces', form)
    isAlert.value = true;
    form.description = form.prix = form.categorie_id = form.datePublication = form.titre = null;
}

onMounted(() => {
    setTimeout(() => {
        isAlert.value = false;
    }, 9000)
})
</script>
