<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head} from '@inertiajs/vue3';

defineProps(['chiffreTotal', 'nmbreAnnonces'])
</script>

<template>
    <Head title="Dashboard"/>

    <AuthenticatedLayout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-3 border-s-4 border-amber-800 bg-amber-100 text-gray-900">Nombre D'annonces
                        immobilieres: <span class="bg-indigo-200 ms-3 p-1 rounded-md">{{nmbreAnnonces}}</span></div>
                    <div class="p-3 border-s-4 border-indigo-400 bg-indigo-100 text-gray-900">Chiffre d'affaire total:
                        <span class="bg-amber-200 ms-3 p-1 rounded-md">{{chiffreTotal}}DHs</span></div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
