<template>
    <AuthenticatedLayout>
        <h1>Create Annonce</h1>
    </AuthenticatedLayout>
</template>

<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

// console.log(route().current());
</script>
