<template>
    <AuthenticatedLayout>
        <h1 class="my-9 border-indigo-500 bg-indigo-100 border-b-4 p-3 rounded-lg text-xl">La liste des ventes</h1>
        <!--        <ul>-->
        <!--            <li v-for="vente in ventes" :key="vente.id">-->
        <!--                {{ vente.dateVente }}-->
        <!--            </li>-->
        <!--        </ul>-->

        <div id="toast-success" v-if="isAlert"
             class="flex items-center w-full p-4 mb-4 text-gray-500 bg-green-200 rounded-lg shadow"
             role="alert">
            <div
                class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ml-3 text-sm font-bold text-gray-800">{{ $page.props.flash.message }}</div>
            <button type="button" @click="isAlert = false;"
                    class="ml-auto -mx-1.5 -my-1.5 bg-red-200 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                    data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Identifiant de la vente
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Titre de l'annonce
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date de la vente
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prix de la vente
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="vente in ventes.data" :key="vente.id"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ vente.id }}
                    </th>
                    <td class="px-6 py-4">
                        {{ vente.annonce.titre }}
                    </td>
                    <td class="px-6 py-4">
                        {{ vente.dateVente }}
                    </td>
                    <td class="px-6 py-4">
                        {{ vente.annonce.prix }} DH
                    </td>
                    <td>
                        <form @submit.prevent="()=>handleSubmit(vente.id)">
                            <button
                                type="submit"
                                class="inline-block rounded bg-red-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-red-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-red-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-red-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] me-3">
                                Supprimer
                            </button>
                        </form>
                        <Link :href="route('ventes.show', vente.id)"
                              class="inline-block rounded bg-green-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-green-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-green-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                            Detail
                        </Link>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Display the pagination links -->
        </div>
        <nav aria-label="Page navigation" v-if="$page.props.ventes.links">
            <ul class="inline-flex -space-x-px">
                <li v-if="$page.props.ventes.prev_page_url">
                    <a @click.prevent="$inertia.visit($page.props.ventes.prev_page_url)"
                       class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                </li>
                <li v-for="link in $page.props.ventes.links" :key="link.url">
                    <a v-if="Number.isInteger(parseInt(link.label, 10))" @click.prevent="$inertia.visit(link.url)"
                       :class="{ 'font-bold': link.active }"
                       class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{
                            link.label
                        }}</a>
                </li>

                <li v-if="$page.props.ventes.next_page_url">
                    <a @click.prevent="$inertia.visit($page.props.ventes.next_page_url)"
                       class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                </li>
            </ul>
        </nav>
    </AuthenticatedLayout>
</template>

<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import {router, Link} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

defineProps(['ventes']);

const isAlert = ref(false);

const handleSubmit = (id) => {
    if (confirm('Voulez-vous vraiment supprimer cette vente ?')) {
        router.delete(`ventes/${id}`)
        isAlert.value = true;
    }
}

onMounted(() => {
    setTimeout(() => {
        isAlert.value = false;
    }, 9000)
})
</script>
