<template>
    <AuthenticatedLayout>
        <h1 class="my-9 border-indigo-500 bg-indigo-100 border-b-4 p-3 rounded-lg text-xl">Detail d'un vente</h1>
        <div
            class="flex flex-col rounded-lg bg-indigo-100 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] ">
            <img
                class="h-96 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="   "
                alt=""/>
            <div class="flex flex-col justify-start p-6">
                <h5
                    class="mb-2 text-xl font-medium text-neutral-800 ">
                    {{ vente.id }}
                </h5>
                <p class="mb-4 text-base text-neutral-600 ">
                    {{ vente.annonce.titre }}
                </p>
                <p class="text-xs text-neutral-500 ">
                    {{ vente.datePublication }}
                </p>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

defineProps(['vente']);
</script>
